# EDA

## Importing libraries

In [12]:
import pandas as pd

## Dataset

In [13]:
df0 = pd.read_csv(r"ready_data/data_a0_encoded.csv")
df1 = pd.read_csv(r"ready_data/data_a1_encoded.csv")

In [14]:
df0.head()

,Time,Target,HomeTeam_enc,avg_goals_in_last5_home,avg_goals_conceded_last5_home,AwayTeam_enc,avg_goals_in_last5_away,avg_goals_conceded_last5_away,Year,Month,...,Country_G,Country_I,Country_N,Country_P,Country_SC,Country_SP,Country_T,Division_1,Division_2,Division_3
0,19,1,420,NaN,NaN,204,NaN,NaN,2019,7,...,False,False,False,False,False,False,False,False,True,False
1,19,0,101,NaN,NaN,444,NaN,NaN,2019,7,...,False,False,False,False,False,False,False,False,True,False
2,19,1,8,NaN,NaN,245,NaN,NaN,2019,7,...,False,False,False,False,False,False,False,False,True,False
3,19,1,201,NaN,NaN,196,NaN,NaN,2019,7,...,False,False,False,False,False,False,False,False,True,False
4,19,0,372,NaN,NaN,44,NaN,NaN,2019,7,...,False,False,False,False,False,False,False,False,True,False

In [16]:
df0.describe().T

,count,mean,std,min,25%,50%,75%,max
Time,42593.0,16.264292,2.468946,10.0,15.0,15.0,19.0,22.0
Target,42593.0,0.499894,0.500006,0.0,0.0,0.0,1.0,1.0
HomeTeam_enc,42593.0,238.533069,137.843524,0.0,118.0,240.0,359.0,477.0
avg_goals_in_last5_home,42115.0,1.468535,0.681854,0.0,1.0,1.4,1.8,7.0
avg_goals_conceded_last5_home,42115.0,1.193677,0.574891,0.0,0.8,1.2,1.6,5.0
AwayTeam_enc,42593.0,238.612284,137.810745,0.0,119.0,240.0,359.0,477.0
avg_goals_in_last5_away,42115.0,1.196533,0.597631,0.0,0.8,1.2,1.6,5.2
avg_goals_conceded_last5_away,42115.0,1.464568,0.640763,0.0,1.0,1.4,1.8,7.0
Year,42593.0,2022.055619,1.763826,2019.0,2021.0,2022.0,2024.0,2025.0
Month,42593.0,6.442232,3.827781,1.0,3.0,6.0,10.0,12.0
Dayofweek,42593.0,4.412861,1.732260,0.0,4.0,5.0,5.0,6.0
Is_weekend,42593.0,0.719062,0.449463,0.0,0.0,1.0,1.0,1.0
Season_of_year,42593.0,1.366797,1.214296,0.0,0.0,1.0,3.0,3.0

In [15]:
df1.head()

,Time,Target,HomeTeam_enc,avg_goals_in_last5_home,avg_goals_conceded_last5_home,AwayTeam_enc,avg_goals_in_last5_away,avg_goals_conceded_last5_away,market_decisiveness,expected_total_goals,...,Country_G,Country_I,Country_N,Country_P,Country_SC,Country_SP,Country_T,Division_1,Division_2,Division_3
0,19,0,307,NaN,NaN,435,1.4,2.0,0.093350,1.677022,...,False,False,False,False,False,False,False,False,True,False
1,19,1,184,NaN,NaN,238,1.0,1.2,0.121554,1.958666,...,False,False,False,False,False,False,False,True,False,False
2,19,0,372,NaN,NaN,44,1.4,2.2,0.114610,1.644545,...,False,False,False,False,False,False,False,False,True,False
3,19,1,420,NaN,NaN,204,1.2,0.6,0.066234,1.890909,...,False,False,False,False,False,False,False,False,True,False
4,19,1,201,NaN,NaN,196,0.8,0.8,0.070312,1.710794,...,False,False,False,False,False,False,False,False,True,False